.landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 70px 0 0;
  > * {
    width: 50%;
  }

  .isometric {
    width: 100%;
    max-width: 400px;
  }

  .launchapp:after {
  content: url('https://api.iconify.design/clarity:power-solid.svg?color=white&height=24');
  vertical-align: -5px;
  margin-right: 8px;

  }
  .discordIcon:after {
  content: url('https://api.iconify.design/mdi-discord.svg?color=white&height=24');
  vertical-align: -5px;

  }

.telegramIcon:after {
  content: url('https://api.iconify.design/mdi-telegram.svg?color=white&height=24');
  vertical-align: -6px;
  }



.btcIcon:after {
content: url('https://api.iconify.design/cryptocurrency:btc.svg?color=%23f7931a&height=32');
margin-right: 10px;
}
.bchIcon:after {
content: url('https://api.iconify.design/cryptocurrency:bch.svg?color=%23329239&height=32');
margin-right: 10px;
}

.dashIcon:after {
content: url('https://api.iconify.design/cryptocurrency:dash.svg?color=%231376b5&height=32');
margin-right: 10px;
}
.xmrIcon:after {
content: url('https://api.iconify.design/cryptocurrency:xmr.svg?color=%23fc6621&height=32');
margin-right: 10px;
}
.zecIcon:after {
content: url('https://api.iconify.design/cryptocurrency:zec.svg?color=%23d38f36&height=32');
margin-right: 10px;
}


.ghostIcon:after {
content: url('https://www.ghostbyjohnmcafee.com/static/media/joincommunitylogo.3f526663.svg');
vertical-align: -0.125em;
width:32px;
height:32px;
}
.ghoulIcon:after {
content: url('https://ghoultoken.io/images/logo2.png');
vertical-align: -0.125em;
width:32px;
height:32px;
}

.ghostdaiIcon:after {
content: url('https://ghoultoken.io/images/ghostdai.png');
vertical-align: -0.125em;
width:32px;
height:32px;
}

.chainsupport span>img{
vertical-align: -8px;
}

.chainsupport span{
  margin-right: 20px;
}



  .left {
    padding-right: 15px;
    h2 {
      background: linear-gradient(
        271.28deg,
        #6751fe -1.29%,
        #03c98a 53.12%,
        #6851fe 117.3%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 45px;
      margin: 0 0 30px;
      line-height: 1.2;
    }
    p {
      font-size: 16px;
      margin-bottom: 30px;
    }
    a {
      background: rgb(103, 81, 254);
      color: white;
      padding: 12px 26px;
      display: inline-block;
      border-radius: 10px;
      margin: 0px 30px 0px 0px;
    }
    a:hover{
          background: #194263;
    }
  }
  .right {
    padding-left: 15px;
    display: flex;
    justify-content: flex-end;
    img {
      width: 100%;
      max-width: 400px;
    }
  }
}
@media (max-width: 1024px) {
  .landing {
    flex-direction: column;
    > * {
      width: 100%;
    }
    .left {
      text-align: left;
      h2 {
        font-size: 40px;
      }
    }
    .right {
      img {
        margin: 50px auto 0;
      }
    }
  }
}
@media (max-width: 600px) {
  .landing {
    .left {
      h2 {
        font-size: 28px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}
